.book-details {

    // background-color: $clr1;
    // border-radius: 6px;
    // border: 3px $clr5 solid;
    padding: 10px 35px;
    h2,
    h3 {
        display: inline;
    }
    h3 {
        font-size: rem(22px);
        font-weight: 500;
    }
    .title,
    .place-years
    {
        margin-bottom: rem(15px);
    }
    .biography-short,
    .biography-long{
        margin-bottom: rem(15px);
        font-size: 0.8em;
        h4{
            font-size: rem(22px);
            margin: 0;
        }
    }
}
