.home{
   display: flex;
    .category-list{
        display: grid;
        width : 100%;
        grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
        .category-preview{

        }
    }
}